// _base.scss
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: $font-family;
    background-color: lighten($primary-color, 30%);
  }